*fastq filter=lfs diff=lfs merge=lfs -text
child-yeast-chr45.fasta filter=lfs diff=lfs merge=lfs -text
sc288_chr4-5.fasta filter=lfs diff=lfs merge=lfs -text
sc288_chr4.fasta filter=lfs diff=lfs merge=lfs -text
sc288_chr5.fasta filter=lfs diff=lfs merge=lfs -text
